.col-3 {
    height: 150px;
    border: 2px solid royalblue;
}

#menu {
    padding: 60px 10px;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;  
    display: none; 
}

#youGo {
    padding: 60px 10px;
    color: wheat;
    background-color: #071461;
    border: solid 13px #c3c3c3;  
    display: none; 
    position: fixed;
    top: 130px;
}

.players {
    font-size: 2em;
    font-weight:  600;
}